# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
DVWA/.vs/DVWA/v15/.suo
*.opendb
*.ipch
*.db-shm
*.db-wal
*.ilk
*.pdb
*.log
*.tlog
*.idb
*.user
*.iobj
*.ipdb
DVWA/Release/shellcode.bin
